body {
    background-color:#bde0fa;
}

div {

    text-align:center;
    font-family:Arial;
    font-size:1.2em;
    color:#ff6a00;
}

h1{
	
	text-align: center;
}

h1, h2 {

   
    font-family:Arial;
    font-size:1.2em;
    color:#ff6a00;
}



.style4
{
margin: 30px 60px;
}
.style1
{

background-color:#FFD700;
height:500px;
width:300px;
float:left;
  

}
.style3
{
float:left;
font-family: cursive;
font-size: 1.2em;

}
 .style2 {
        background-color:red;
        
            }

